<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.smart.sweeper.demo">
    <!-- sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" /> <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:required="false" /> <!-- added from 2.7.2 -->
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"
        android:required="false" />

    <application
        android:name=".TuyaSmartApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".base.activity.SweeperChooseActivity"></activity>
        <activity android:name=".base.activity.LaserSweeperActivity" />
        <activity android:name=".base.activity.GyroVisionActivity" />

        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="YOUR_SMART_APPKEY" />
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="YOUR_SMART_SRCRET" />

        <activity
            android:name=".base.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".login.activity.CountryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".login.activity.LoginWithPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".login.activity.AccountInputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".login.activity.AccountConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash.Theme"
            android:windowSoftInputMode="adjustPan|stateHidden" />


    </application>

</manifest>